// Akhand

@font-face {
    font-family: 'Akhand';
    src: url('./Akhand/Akhand-Extralight.otf') format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Akhand';
    src: url('./Akhand/Akhand-Light.otf') format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Akhand';
    src: url('./Akhand/Akhand-Semilight.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Akhand';
    src: url('./Akhand/Akhand.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Akhand';
    src: url('./Akhand/Akhand-Semibold.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akhand';
    src: url('./Akhand/Akhand-Bold.otf') format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Akhand';
    src: url('./Akhand/Akhand-Extrabold.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Akhand';
    src: url('./Akhand/Akhand-Black.otf') format("opentype");
    font-weight: 800;
    font-style: normal;
}